flows.json
[
    {
        "id": "77e20b92722daecf",
        "type": "tab",
        "label": "Flujo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83140e079ea3b5d8",
        "type": "serial in",
        "z": "77e20b92722daecf",
        "name": "",
        "serial": "b1d719ed4b2c3efa",
        "x": 660,
        "y": 298,
        "wires": [
            [
                "634d614f85f30a33",
                "3b567c8b49d07785",
                "d4c5e60dc1f793d0",
                "1a94d2a1d26de767"
            ]
        ]
    },
    {
        "id": "634d614f85f30a33",
        "type": "function",
        "z": "77e20b92722daecf",
        "name": "sensor luz",
        "func": "msg.payload= msg.payload.split(',')\nmsg.payload = msg.payload[1]\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 218,
        "wires": [
            [
                "66a1d0964f4c8931",
                "1d7e50cf600b3e1e"
            ]
        ]
    },
    {
        "id": "1d7e50cf600b3e1e",
        "type": "debug",
        "z": "77e20b92722daecf",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 260,
        "wires": []
    },
    {
        "id": "66a1d0964f4c8931",
        "type": "ui_chart",
        "z": "77e20b92722daecf",
        "name": "",
        "group": "c98b277e45d7ebbc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Sensor Luz",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d4c5e60dc1f793d0",
        "type": "function",
        "z": "77e20b92722daecf",
        "name": "sensor temperatura",
        "func": "msg.payload= msg.payload.split(',')\nmsg.payload = msg.payload[0]\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 100,
        "wires": [
            [
                "25df959d595c7670",
                "b310e9252aceabce"
            ]
        ]
    },
    {
        "id": "b310e9252aceabce",
        "type": "debug",
        "z": "77e20b92722daecf",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 142,
        "wires": []
    },
    {
        "id": "25df959d595c7670",
        "type": "ui_chart",
        "z": "77e20b92722daecf",
        "name": "",
        "group": "c98b277e45d7ebbc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Sensor Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 82,
        "wires": [
            []
        ]
    },
    {
        "id": "3b567c8b49d07785",
        "type": "function",
        "z": "77e20b92722daecf",
        "name": "Sensor humedad ambiente",
        "func": "msg.payload= msg.payload.split(',')\nmsg.payload = msg.payload[2]\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "f6d8149d6c69a87a",
                "25239ccc33965849"
            ]
        ]
    },
    {
        "id": "25239ccc33965849",
        "type": "debug",
        "z": "77e20b92722daecf",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 382,
        "wires": []
    },
    {
        "id": "f6d8149d6c69a87a",
        "type": "ui_chart",
        "z": "77e20b92722daecf",
        "name": "",
        "group": "c98b277e45d7ebbc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Sensor humedad ambiente",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 322,
        "wires": [
            []
        ]
    },
    {
        "id": "092a6960a98f491a",
        "type": "serial out",
        "z": "77e20b92722daecf",
        "name": "",
        "serial": "b1d719ed4b2c3efa",
        "x": 1310,
        "y": 600,
        "wires": []
    },
    {
        "id": "cd455bc3a34580e4",
        "type": "ui_button",
        "z": "77e20b92722daecf",
        "name": "",
        "group": "c98b277e45d7ebbc",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1050,
        "y": 600,
        "wires": [
            [
                "092a6960a98f491a"
            ]
        ]
    },
    {
        "id": "022682f07ba01f3a",
        "type": "ui_button",
        "z": "77e20b92722daecf",
        "name": "",
        "group": "c98b277e45d7ebbc",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1050,
        "y": 660,
        "wires": [
            [
                "092a6960a98f491a"
            ]
        ]
    },
    {
        "id": "1a94d2a1d26de767",
        "type": "function",
        "z": "77e20b92722daecf",
        "name": "Sensor humedad suelo 1",
        "func": "msg.payload= msg.payload.split(',')\nmsg.payload = msg.payload[3]\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "358afad204fe5bfd",
                "05431956a5d319e1"
            ]
        ]
    },
    {
        "id": "05431956a5d319e1",
        "type": "debug",
        "z": "77e20b92722daecf",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 482,
        "wires": []
    },
    {
        "id": "358afad204fe5bfd",
        "type": "ui_chart",
        "z": "77e20b92722daecf",
        "name": "",
        "group": "c98b277e45d7ebbc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Sensor humedad Suelo",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 422,
        "wires": [
            []
        ]
    },
    {
        "id": "b1d719ed4b2c3efa",
        "type": "serial-port",
        "name": "HeltecEsp32",
        "serialport": "COM25",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "c98b277e45d7ebbc",
        "type": "ui_group",
        "name": "Default",
        "tab": "877ef5891d3c3ea5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "877ef5891d3c3ea5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]